09.BashScripting/scriptingVMs/WindowsAndMacIntel/.vagrant/bundler/global.sol
09.BashScripting/scriptingVMs/WindowsAndMacIntel/.vagrant/machines/scriptbox/virtualbox/action_provision
09.BashScripting/scriptingVMs/WindowsAndMacIntel/.vagrant/machines/scriptbox/virtualbox/action_set_name
09.BashScripting/scriptingVMs/WindowsAndMacIntel/.vagrant/machines/scriptbox/virtualbox/box_meta
09.BashScripting/scriptingVMs/WindowsAndMacIntel/.vagrant/machines/scriptbox/virtualbox/creator_uid
09.BashScripting/scriptingVMs/WindowsAndMacIntel/.vagrant/machines/scriptbox/virtualbox/id
09.BashScripting/scriptingVMs/WindowsAndMacIntel/.vagrant/machines/scriptbox/virtualbox/index_uuid
09.BashScripting/scriptingVMs/WindowsAndMacIntel/.vagrant/machines/scriptbox/virtualbox/private_key
09.BashScripting/scriptingVMs/WindowsAndMacIntel/.vagrant/machines/scriptbox/virtualbox/synced_folders
09.BashScripting/scriptingVMs/WindowsAndMacIntel/.vagrant/machines/scriptbox/virtualbox/vagrant_cwd
09.BashScripting/scriptingVMs/WindowsAndMacIntel/.vagrant/rgloader/loader.rb
